body{
    background-color:#DAEAF1;
    
}
hr{
    border:1px solid #000;
    border-style:dotted none none; 
    height: 0px;
    width: 10%;
    border-color:grey ;
    border-width: 5px;
}
h1{
    color: #66BFBF;
    font-family: 'Nunito';
}
h3{
    color: #66BFBF;
}